
h2{
    text-align: center;
    padding: 2.3vw;
    color: red;
}
.apexcharts-legend.apx-legend-position-bottom.apexcharts-align-center, .apexcharts-legend.apx-legend-position-top.apexcharts-align-center {
    justify-content: center;
    visibility: hidden;
}
.chart{
    padding: 1.6vw;
    padding-top: 5px;
    width: 100%;
}